header {
  padding: 20px;
  font-size: 3.4em;
  text-align: center;
  font-family: "DM sans", sans-serif, "Arial";
}
small {
  display: block;
  padding: 20px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Koulen", sans-serif;
}
